page-login {
.logo{
    border-radius:50%;
}
.fb-img{
    max-width: 75%;
}
.gradient-color{
    background: linear-gradient(to right bottom, #B263BE, #6C7CF5) !important ;
    text-transform: none;
}
.font-color{
   color: #052F59;
   font-weight:700;
}
ion-fab ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }


}
